body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-pink{
  color: #E73C7E;
}

.text-oren{
  color: #EE7752;
}

.text-gradient{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-text-fill-color: transparent;
}

.container-col{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}


.cont-center{
  height: 100vh;
}

.white-box{
    background-color: rgba(255,255,255,1);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0px 6px 13px 0px rgb(0,0,0,0.6);
}

.white-box-list{
    background-color: rgba(255,255,255,1);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0px 6px 13px 0px rgb(0,0,0,0.6);
    min-width: 650px;
}

.black-box-list{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 15px;
    min-width: 650px;
    color: white;
}


.skyline, .redline, .limeline, .nightline, .morningline{
  width: 100%;
  height: 100vh;
}

.skyline{
  background: -webkit-linear-gradient(to right, #23A6D5, #23D5AB);
  background: linear-gradient(to right, #23A6D5, #23D5AB); 
}

.redline{
  background: -webkit-linear-gradient(to right, #EE7752, #E73C7E);
  background: linear-gradient(to right, #EE7752, #E73C7E); 
}

.limeline{
  background: -webkit-linear-gradient(to right, #23D5AB, #EE7752);
  background: linear-gradient(to right, #23D5AB, #EE7752); 
}

.nightline{
  background: -webkit-linear-gradient(to right, #E73C7E, #23A6D5);
  background: linear-gradient(to right, #E73C7E, #23A6D5); 
}

.morningline{
  background: -webkit-linear-gradient(to left, #EE7752, #E73C7E);
  background: linear-gradient(to left, #EE7752, #E73C7E); 

}
/* login section */
.login-section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}




.white-box-login{
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 6px 13px 0px rgb(0,0,0,0.6);
}
.login-form{
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column  ;
}

.form-input{
  margin-bottom: 5px;
}

.btn-login{
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}



.input-login{
  margin-bottom: 10px;
  width: 300px;
  border-radius: 10px;
}

.footer-login {
  display: flex;
  justify-content: space-between;
}

/* header */



/* list */
.list-box{
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 6px 13px 0px rgba(0,0,0,1);
}

.edit-icon{
  margin-left: 10px;
  margin-right: 10px;
}

.width-btn{
  display: flex;
  flex-direction: column;
}

